html, body {
	padding:0;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	margin:0 auto;
	max-width: 998px;
}
.layer1 {
	 padding: 10px;
	 margin: 20px;
	 text-align: center;
	}
.button {
  display: inline-block;
  background: #0f3a0c;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  font-size: 18px;
  line-height: 1;
  font-weight: 100;
  cursor: pointer;
}

.buttonR {
  background: #e44306;
  color: #ffffff;
    font-size: 20px;
	justify-content: center;
}

.w200{
	width: 200px;
	text-align: center;
	text-align-last: center;
}

header{
    text-align: center;
    font-size: 20pt;
	margin-left: auto;
    margin-right: auto;
	text-align:center;
	padding:10px 0;
	color:white;
}
nav{
    text-align: center;
}
aside{
    text-align: left;
}
article{
    text-align: inherit;
}
footer{
    text-align: center;
    background-color: bisque;
    position: absolute;
    bottom: 0;
    padding:10px 0;
}
a {
    color: #000 !important;
    text-decoration:none;
}
.v{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 20px;
}
.fl
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}
.center{
        margin-left: auto;
        margin-right: auto;

}

   .tblvyh {

    margin: auto; /* Выравниваем таблицу по центру окна  */
   }
   .tdvyh {
    text-align: center; /* Выравниваем текст по центру ячейки */
   }
 .w600
{
max-width: 600px;
}
 .w900
{
max-width: 600px;
}
.l200{
height: 75px;
}
.colorfon{
	background-color: #6ecc73;
}

.form {
	max-width:640px;
	margin: 0 auto;
	padding:10px;
}
.form h3 {
	text-align:center;
}
.form-row {
	text-align:center;
	margin:10px 0;
	display:flex;
	align-items: center;
	justify-content: space-between;
}
.form-row label {
	width:50%;
	flex-shrink: 0;
	text-align:right;
	padding-right:10px;
}
.form-row_input {
	width:100%;
	text-align:left;
}
.form-row_input select {
	width:100%;
}
.form-row_btn {
	width:100%;
	text-align:center;
}

@media (max-width: 992px) {
	.form {
		max-width:300px;
	}
	.form-row {
		flex-direction: column;
	}
	.form-row label {
		width:100%;
		text-align:center;
		padding-bottom:5px;
		padding-right:0px;
	}
	.form-row_input {
		text-align:center;
	}
	.buttonR {
		font-size: 18px;
	}
}